@using DTL.Model.Models
@model ServiceHistoryModel
@{
}

<input type="hidden" id="Id" name="Id" value="@Model.ID" />
<input type="hidden" id="EmployeeRegistrationId" name="EmployeeRegistrationId" value="@ViewBag.EmpId" />

<p><b>Calculation Of Monthly Pension</b></p>
<table width="100%">
    <tr>
        <td>Net Qualifying Service</td>
        <td></td>
    </tr>
</table>