@{
    ViewData["Title"] = "Home Page";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Grievance</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("","Home")">Home</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("","Grievance")">Grievance</a></li>
                        <li class="breadcrumb-item active">Grievance View</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">


                            <table class="table table-bordered mb-3">
                                <tr>
                                    <th colspan="4" class="text-center bg-gray-light">Grievance</th>
                                </tr>
                                <tr>
                                    <td class="text-right" style="width: 30%">Department / Section</td>
                                    <th style="width: 70%">PPO</th>
                                </tr>
                                <tr>
                                    <td class="text-right">PPO Number</td>
                                    <th>321354</th>
                                </tr>
                                <tr>
                                    <td class="text-right">Employee Id</td>
                                    <th>15421</th>
                                </tr>
                                <tr>
                                    <td class="text-right">Subject</td>
                                    <th>Subject of Grievance here</th>


                                </tr>
                                <tr>
                                    <td class="text-right">Grievance in brief Suggestion</td>
                                    <th>Grievance in brief Suggestion</th>


                                </tr>
                               



                            </table>

                            <div class="row d-print-none">
                                <div class="col-md-12 p-3 text-right" style="background: aliceblue;">
                                    <a class="btn btn-primary">back</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->