@{
    ViewData["Title"] = "Grievance Dashboard";
    Layout = "_Layout";

    string ASSIGN_DATE_FORMAT = ViewBag.ASSIGN_DATE_FORMAT;

}


<style>
    .small-box .icon > i.ion {
        font-size: 60px !important;
        top: 0px !important;
    }
</style>

<div class="container-fluid">

    <div class="row header_section mx-0 px-0 border_bottom">
        <div class="col-6 position-relative ps-0">
            <span class="btn btn-light float-start mt-1 me-2 d-block d-md-none" id="menu_toggle">
                <i class="fa-solid fa-bars"></i>
            </span>
            <h3 class="mb-0">Grievance Dashboard</h3>
        </div>
        <p class="mb-0 col-6 top_link_Section">
            <a href="@Url.Action("Index","Home",new { Area="" })"><span class="">Dashboard </span> </a>
            <span class="px-1">/</span>
            Grievances
        </p>
    </div>
    <div class="container-fluid pd-x-0 pd-lg-x-10 pd-xl-x-0">

        <div class="row row-xs pt-3">
            <div class="col-sm-6 col-lg-3 mt-2">
                <div class="card dashboard background-orange">
                    <a href="@Url.Action("GrievanceList", "Grievance")">
                        <div class="card-body">
                            <div class="d-flex d-lg-block d-xl-flex align-items-end">
                                <h5 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">Create Grievance </h5>
                                <i class="fa-solid fa-file"></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div><!-- col -->
            <div class="col-sm-6 col-lg-3 mt-2">
                <div class="card dashboard background-green">
                    <a href="@Url.Action("RequestGrievanceList", "Grievance")">
                        <div class="card-body">
                            <div class="d-flex d-lg-block d-xl-flex align-items-end">
                                <h5 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">Request Grievance</h5>
                                <i class="fa-solid fa-plus"></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div><!-- col -->
            <div class="col-sm-6 col-lg-3 mt-2">
                <div class="card dashboard background-light-orange">
                    <a href="@Url.Action("RequestGrievanceList", "Grievance", new {isResolved=true})">
                        <div class="card-body">
                            <div class="d-flex d-lg-block d-xl-flex align-items-end">
                                <h5 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">Resolved Grievance</h5>
                                <i class="fa-brands fa-resolving"></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div><!-- col -->



        </div>
    </div>



</div>
