################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Delhi Transco Ltd/v16
/.vs/DTL/v16
/.vs
/DTL/obj
/DTL.API/bin/Debug/net5.0
/DTL.API/obj
/DTL.Business/obj
/DTL.Model/obj
/DTL/bin/Debug/net5.0
/DTL.Business/bin/Debug/net5.0
/DTL.Model/bin/Debug/net5.0
/DTL.WebApp/bin/Debug/net5.0
/DTL.WebApp/obj
/DTL.WebApp/wwwroot/files/nonrefundable/ea52fd4a-965a-4cea-a560-736c617cc804.pdf
/DTL.WebApp/wwwroot/files/nonrefundable/de8883dc-1619-43e2-b088-52ed24efd6ba.pdf
/DTL.WebApp/wwwroot/files/nonrefundable/c01bb6d8-9a6d-4b0a-8972-eddb9c4a753d.pdf
/DTL.WebApp/wwwroot/files/nonrefundable/a016f2c2-8ec8-47aa-bda6-aaf7c6298313.pdf
/DTL.WebApp/wwwroot/files/nonrefundable/97eb073b-3b8d-42a5-bcaf-d7f748dbf7af.pdf
/DTL.WebApp/wwwroot/files/nonrefundable/93276e25-bbf4-4514-bb0a-61076e746714.pdf
/DTL.WebApp/wwwroot/files/nonrefundable/53a78c1a-bae6-4cfb-938d-62ac7bbf3a37.pdf
/DTL.WebApp/wwwroot/files/nonrefundable/43006621-6ac2-4e5e-a632-aaaa96fc4ffd.pdf
/DTL.WebApp/wwwroot/files/nonrefundable/2e0e1a49-ab62-45fa-85fd-1a8570baa9d2.pdf
/DTL.WebApp/wwwroot/files/nonrefundable/2c95be49-453e-495f-8c53-415f3e320e4b.pdf
/DTL.WebApp/wwwroot/files/nonrefundable/2a1747cd-b6be-4eb3-8310-a4e3c42f2074.pdf
/DTL.WebApp/wwwroot/files/nonrefundable/00591fc4-933a-4bdf-b122-7ee45b7af19e.pdf
/DTL.WebApp/wwwroot/files/refundable/f134a28e-d0e1-402f-9249-813c654da0c0.pdf
/DTL.WebApp/wwwroot/files/refundable/f073f588-0552-4c13-8a30-7a39bcafd669.pdf
/DTL.WebApp/wwwroot/files/refundable/d6f95ade-5e50-4226-8866-ed3232ea2986.pdf
/DTL.WebApp/wwwroot/files/refundable/cc98bfb9-78f0-403f-94ae-9119fa5b0c2a.pdf
/DTL.WebApp/wwwroot/files/refundable/acea63a8-b974-4f54-a12d-c6ece39aea9e.pdf
/DTL.WebApp/wwwroot/files/refundable/abc9e950-7199-461c-a9e6-380d1421cecb.pdf
/DTL.WebApp/wwwroot/files/refundable/a499fffc-986d-4bad-8852-e9c90a16f34a.pdf
/DTL.WebApp/wwwroot/files/refundable/a3a95648-4b04-430e-a95c-ceaa05c555fb.pdf
/DTL.WebApp/wwwroot/files/refundable/a2218cc7-4a9a-4552-9931-20aefb3df5e5.pdf
/DTL.WebApp/wwwroot/files/refundable/a152fb46-fe13-43ee-a102-fb6a4979dbc6.pdf
/DTL.WebApp/wwwroot/files/refundable/9add094b-9110-4b56-b253-318fab9a87e9.pdf
/DTL.WebApp/wwwroot/files/refundable/807280f3-fa96-43a1-8c42-878f6ee2ef98.pdf
/DTL.WebApp/wwwroot/files/refundable/7a7135a8-cfab-45ea-a165-2e9f8ddda092.pdf
/DTL.WebApp/wwwroot/files/refundable/77ff34e8-e63e-41e9-acf2-367d14ca01c6.pdf
/DTL.WebApp/wwwroot/files/refundable/5c6b6cd6-c827-4ad0-845a-b6d151eab3a6.pdf
/DTL.WebApp/wwwroot/files/refundable/513115f5-fc4d-4c8c-bab3-26f6c7968d14.pdf
/DTL.WebApp/wwwroot/files/refundable/50c6918a-90dc-438f-8357-b44c6ef8c44d.pdf
/DTL.WebApp/wwwroot/files/refundable/48420b07-9fa6-499a-aa37-454d54048543.pdf
/DTL.WebApp/wwwroot/files/refundable/4482e490-48bb-4dc3-94d3-4e45833d0065.pdf
/DTL.WebApp/wwwroot/files/refundable/2797dca3-4aa5-48d3-b985-09b3927b0908.pdf
/DTL.WebApp/wwwroot/files/refundable/18c03dad-7db9-4902-ad17-cfefd1753767.pdf
/DTL.WebApp/wwwroot/files/nonrefundable/e4d0fe10-4879-4e36-8257-b3258bf8750e.pdf
/DTL.WebApp/wwwroot/files/nonrefundable/9b9b282d-d429-4738-a8fa-000c6cdd26e5.pdf
/DTL.WebApp/wwwroot/files/nonrefundable/850adf41-a2ea-443d-ba9f-9249eaef06b6.pdf
/DTL.WebApp/wwwroot/files/nonrefundable/4479dc4e-2e8a-43ad-8c06-7f548e3658de.pdf
/DTL.WebApp/wwwroot/files/nonrefundable/1425be0c-6761-442e-b506-c79d722b8ddb.pdf
/DTL.WebApp/wwwroot/files/refundable/c0db2236-e8c9-4e92-988c-84df96257572.pdf
/DTL.WebApp/wwwroot/files/nonrefundable
/DTL.WebApp/wwwroot/files/refundable
/DTL.WebApp/wwwroot/files/temp/GPFSummary01122022.pdf
/DTL.WebApp/wwwroot/files/temp/GPFSummaryTemplate.html
/DTL.API/bin/Release/net5.0
/DTL.Business/bin/Release/net5.0
/DTL.Model/bin/Release/net5.0
/DTL.WebApp/bin/Release/net5.0
/DTL.WebApp/wwwroot/temp/Bhagyashree  Ajay Avachar_aadhar_card.pdf
/DTL.Website/obj
/DTL.Website/bin
/DTL.WebApp/wwwroot/files/noncashless
/DTL.WebApp-BKP06012023.zip
/DTL.WebApp/wwwroot/files/cashless/5bf6120b-32a9-4c92-b94c-c6b5416967e0.pdf

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
/DTL.WebApp/Properties/PublishProfiles/FolderProfile.pubxml.user
