USE [DTLPension]
GO
/****** Object:  StoredProcedure [dbo].[UpdateDVBUser]    Script Date: 24-09-2022 8.49.56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[UpdateDVBUser]
(	
	@Name NVARCHAR(60),
	@EmailAddress NVARCHAR(120),
	@PhoneNumber NVARCHAR(20),
	@Department NVARCHAR(100),
	@Designation NVARCHAR(50),
	@ModifiedBy NVARCHAR(60),
	@DVBUserId INT,
	@Address nvarchar(500),
	@Username nvarchar(255),
	@Dashboard nvarchar(255),
	@DashboardUrl nvarchar(500)
)
AS
BEGIN TRAN
BEGIN TRY 
	UPDATE dbo.DVBUser 
		SET [Name] = @Name,
		EmailAddress = @EmailAddress,
		PhoneNumber = @PhoneNumber,
		Department = @Department,
		Designation = @Designation,
		ModifiedBy = @ModifiedBy,
		ModifiedDate  = GETDATE(),
		[Address]  = @Address
			,Username   = @Username
			,Dashboard  =@Dashboard
			,DashboardUrl=@DashboardUrl
	WHERE DVBUserId = @DVBUserId;
	COMMIT TRAN
END TRY
BEGIN CATCH
   ROLLBACK TRAN
    -- Raise an error and return
    DECLARE @ErrorMessage NVARCHAR(4000);  
    DECLARE @ErrorSeverity INT;  
    DECLARE @ErrorState INT;
    SELECT   
        @ErrorMessage = ERROR_MESSAGE(),  
        @ErrorSeverity = ERROR_SEVERITY(),  
        @ErrorState = ERROR_STATE();
    -- Use RAISERROR inside the CATCH block to return error  
    -- information about the original error that caused  
    -- execution to jump to the CATCH block.  
    RAISERROR (@ErrorMessage, -- Message text.  
               @ErrorSeverity, -- Severity.  
               @ErrorState -- State.  
               );  
END CATCH
