<div class="row col-sm-12 justify-content-center align-items-center">
    <div class="col-sm-6 justify-content-center align-items-center">
        <table id="chart_box1">
            <tr>
                <td class="justify-content-center">
                    <canvas id="myinoutFlowChart" width="800" height="400"></canvas>
                </td>
            </tr>
        </table>
        <br />
        <br />
        <br />
        <table id="chart_box2">

            <tr>
                <td class="justify-content-center">
                    <h5 class="justify-content-center align-items-center">GPF Contribution</h5>
                    <canvas id="myinFlowChart" width="500" height="300"></canvas>
                </td>
                <td class="justify-content-center">
                    <h5 class="justify-content-center align-items-center">GPF Withdrawal</h5>
                    <canvas id="myoutFlowChart" width="500" height="300"></canvas>
                </td>
            </tr>
        </table>
    </div>
</div>