<table id="pensionRptTbl1" class="table table-striped projects">
    <thead>
        <tr>
            <th>Month</th>
            <th>Employee Name</th>
            <th>Emp ID</th>
            <th>Contribution</th>
            <th>Employer</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>