<div class="row">
    
    <div class="col-md-12">
        <div class="float-sm-right">
            <a class="btn btn-primary btn-sm" id="pensionGraph" href="#"><i class="fas fa-chart-bar"></i> Graph</a>
            <a class="btn btn-primary btn-sm" id="pensionTable" href="#"><i class="fas fa-table"></i> Table</a>
        </div>
        <h4>Pension Analysis</h4>
    </div>
    </div>

    <div class="row justify-content-center align-items-center" id="pensiontables">
        <div class="col-md-12">
            <table id="penisonTbl" class="table table-striped projects">
                <thead>
                    <tr>
                        <th>Emp ID</th>
                        <th>Employee Name</th>
                        <th>Pension Contribution</th>
                        <th>Employer</th>
                        <th>Pension Disbursed</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div id="pensionGraphs">
        <div class="row">
            <div class="col-md-8">
                <canvas id="myinoutFlowChart" width="800" height="400"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <h5 class="justify-content-center align-items-center">Pension Contribution</h5>
                <canvas id="myinFlowChart" width="500" height="300"></canvas>
            </div>
            <div class="col-md-5">
                <h5 class="justify-content-center align-items-center">Pension Disbursed</h5>
                <canvas id="myoutFlowChart" width="500" height="300"></canvas>
            </div>
        </div>
        <div class="col-sm-12 p-2">
            <div class="row justify-content-center">
                <button type="button" name="btnPrint" id="btnPrint" class="btn btn-primary">Print</button>
            </div>
        </div>
    </div>



