
@{
    ViewData["Title"] = "viewPnbIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>viewPnbIndex</h1>

@*<form asp-controller="Disbursment" asp-action="PnbIndex" method="get">
    <button onclick="PnbIndex()"> PNB</button>
    <script>
        function PnbIndex() {
            window.location.href = '/Mediclaim/Disbursment/PnbIndex';
        }
    </script>
</form>*@
<html>
<head>
    <title></title>
    <script>
        function PnbIndex() {
            window.location.href = '/Mediclaim/Disbursment/PnbIndex1';
        }
    </script>
</head>
<body>
    <h1>Index</h1>
    <button onclick="PnbIndex()">PNB</button>
</body>
</html>

