<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link href="~/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- icheck bootstrap -->

    <link href="~/assets/css/style.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body class="hold-transition " style="height: 100%">
   
    <header style="background-color: #003399;">
        <div class="container-xxl">
            <div class="row">
                <div class="col-12 d-flex py-2">

                    <img src="~/assets/images/dvb.jpg" alt="" style="width: 56px; height: fit-content;">
                
                    <div class="my-auto ms-3">
                        <h5 class="text-white">DVEBTBF</h5>
                        <span class="d-block text-white">PTIS (Pension Trust Information System)</span>
                    </div>

                </div>
            </div>
        </div>
    </header>
   
    <div class="main-content forget_password_section">
        <div class="container-xxl container-xl container-md container-sm"
             style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
            <div class="row m-85">
                <div class="col-md-7 col-sm-5">
                    <div class="imageForget_image">
                        
                        <img src="~/assets/images/forget.jpg" class="forgetIMage"/>
                    </div>
                </div>
                <div class=" col-md-5 col-sm-7 forget_box">
                    @RenderBody()

                </div>
            </div>
            <div class="row">

                @*<div class="offset-md-7 col-md-4 offset-sm-2 col-sm-8">
                    <div class="login_div">

                        @RenderBody()

                    </div>
                </div>*@
            </div>
        </div>
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script type="text/javascript">$("#list-roles li").on("click", function () {
            $("#list-roles li a").removeClass("active");
            $(this).find('a').addClass("active");
            $('#hrLoginName').text($(this).text());
        });</script>
</body>
</html>
