@using DTL.WebApp.Areas.UserManagement.Controllers


@model string
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "../../../../Views/auth/forgotPassword.cshtml";

}


<div class="login_div forget_password">
    <form id="forget-password-form"  action="/UserManagement/ForgotPassword/SendPassword" method="post">
        <div class="text-center">
            <h5 class="m-0">Forget password</h5>
            <p class="forget_title">Reset Password will be sent to register mail</p>
        </div>

        <div class="mb-3">
            <label class="form-label d-block mb-1">
                Please Enter Username
            </label>
            <input name="Username" required class="form-control" placeholder="Enter Username" type="text" />
            <span class="text-danger"></span>

        </div>

        <div class="submit_area text-center">

            <input type="submit" value="Send" class="btn btn-sm btn-brand" />
          
            <a class="btn btn-sm btn-brand" href='@Url.Action("Login","Account", new { Area = "Identity"})'>Back</a>
            @*<input id="btnSignIn" type="submit" value="Back" class="btn btn-sm btn-brand" onclick="location.href='../login.html'" /></td>*@
        </div>

        <div class="text-center">
            
            <p style="color:green" class="forget_title">@ViewData["Message"]</p>
        </div>
    </form>
</div>

@section Scripts {

}