@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

    <div class="container-fluid view_form">
        <div class="row header_section mx-0 px-0">
            <div class="col-6 position-relative ps-0">
                <span class="btn btn-light float-start mt-1 me-2 d-block d-md-none" id="menu_toggle">
                    <i class="fa-solid fa-bars"></i>
                </span>
                <h3 class="mb-0">Loan Approvals View</h3>
            </div>
            <p class="mb-0 col-6 top_link_Section">
                <span class="">GPF AG II Dashboard</span><span class="px-1">/</span><span>Loan Approvals List</span><span class="px-1">/</span><span>Loan Approvals View</span>
            </p>
            </p>
        </div>
        <div class="card border-card mt-0 view_container_bg">
            <div class="card-body">
                <h4 class="form_title mt-3 ">
                    Personal Details
                </h4>
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                        <label class="form-label d-block mb-1">GPF Account Number</label>
                        <p class="View_text">8778789</p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                        <label class="form-label d-block mb-1">Employee Id</label>
                        <p class="View_text">8778</p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                        <label class="form-label d-block mb-1">Department</label>
                        <p class="View_text">Refundable Department</p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                        <label class="form-label d-block mb-1">Designation</label>
                        <p class="View_text">Sanju sahu</p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                        <label class="form-label d-block mb-1">Organization</label>
                        <p class="View_text">Organization</p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 mb-3view_text_border">
                        <label class="form-label d-block mb-1">Mobile Number</label>
                        <p class="View_text">7057085889</p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                        <label class="form-label d-block mb-1">Date of Birth</label>
                        <p class="View_text">16/02/1999</p>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                        <label class="form-label d-block mb-1">Age</label>
                        <p class="View_text">21</p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-6 mb-3 view_text_border">
                        <label class="form-label d-block mb-1">Address</label>
                        <p class="View_text">Bhavdhan Pune</p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                        <label class="form-label d-block mb-1">Email Id</label>
                        <p class="View_text">Patient@gmail.com</p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                        <label class="form-label d-block mb-1">Date of Joining</label>
                        <p class="View_text">21/02/2022</p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-6 mb-3 view_text_border">
                        <label class="form-label d-block mb-1">Basic Pay</label>
                        <p class="View_text">16000</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-card  border-top-0 mt-4 view_container_bg">
            <div class="card-body">
                <h4 class="form_title mt-3 ">
                    Loan Details
                </h4>
                <div class="row ">
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                        <label class="form-label d-block mb-1">GPF Account Number</label>
                        <p class="View_text">1234667890</p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                        <label class="form-label d-block mb-1">GPF Account Balance</label>
                        <p class="View_text">160062</p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                        <label class="form-label d-block mb-1">Monthly GPF Contribution</label>
                        <p class="View_text">26522</p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                        <label class="form-label d-block mb-1">Purpose of Loan</label>
                        <p class="View_text">Purpose</p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                        <label class="form-label d-block mb-1">Rate of Interest(%)</label>
                        <p class="View_text">76%</p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                        <label class="form-label d-block mb-1">Amount Of Loan Required (In Words)</label>
                        <p class="View_text">In Words</p>
                   
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                        <label class="form-label d-block mb-1">Amount Of Loan Required (In Figure)</label>
                        <p class="View_text">In Figure</p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                        <label class="form-label d-block mb-1">Basic Pay * 12</label>
                        <p class="View_text">26522</p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                        <label class="form-label d-block mb-1">75 Total GPF Account Balance</label>
                        <p class="View_text">265225155</p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                        <label class="form-label d-block mb-1">Eligible Amount</label>
                        <p class="View_text">26522</p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                        <label class="form-label d-block mb-1">Number of EMI</label>
                        <p class="View_text">26522</p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                        <label class="form-label d-block mb-1">Monthly EMI Amount</label>
                        <p class="View_text">26522</p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                        <label class="form-label d-block mb-1">EMI Start Date</label>
                        <p class="View_text">12/02/2022</p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                        <label class="form-label d-block mb-1">EMI End Date</label>
                        <p class="View_text">26522</p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                        <label class="form-label d-block mb-1">Place of Posting Last 3 Years</label>
                        <p class="View_text">2022</p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                        <label class="form-label d-block mb-1">Date of Application</label>
                        <p class="View_text">2022</p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                        <label class="form-label d-block mb-1">Discription(Details of Refundable Loan)</label>
                        <p class="View_text">2022</p>
                    </div>
                    <div class="col-sm-4 mb-3">
                        <p class="form-label d-block mb-1">Details of Any Loan Pending</p>
                        <div class="d-flex">
                            <div class="form-check me-3">
                                <input class="form-check-input" type="radio" name="dependentSelf"
                                       id="Yes">
                                <label class="form-check-label" for="Yes">
                                    Yes
                                </label>
                            </div>
                            <div class="form-check me-3">
                                <input class="form-check-input" type="radio" name="dependentSelf"
                                       id="no">
                                <label class="form-check-label" for="dependentSelf">
                                    No
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="yesDiv">
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                        <label class="form-label d-block mb-1">Amount of previous Refundable Loan</label>
                        <p class="View_text">15452</p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                        <label class="form-label d-block mb-1">Date of Withdrawal Refundable</label>
                        <p class="View_text">15/03/2022</p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-3 view_text_border">
                        <label class="form-label d-block mb-1">Date of Last Repayment of previous Loan</label>
                        <p class="View_text">15/03/2022</p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-8 mb-3 view_text_border">
                        <label class="form-label d-block mb-1">Balance of previous Refundable Loan if any Outstanding against the Account Holder</label>
                        <p class="View_text">2022</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-card  border-top-0 mt-4 view_container_bg">
            <div class="card-body">
                <h4 class="form_title mt-3 ">
                    Bank Account Details
                </h4>
                <div class="row ">
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                        <label class="form-label d-block mb-1">Bank Name</label>
                        <p class="View_text">Yes Bank</p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                        <label class="form-label d-block mb-1">Bank Account Number</label>
                        <p class="View_text">644625436968</p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                        <label class="form-label d-block mb-1">Branch Name</label>
                        <p class="View_text">Bhavdhan Pune</p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                        <label class="form-label d-block mb-1">IFSC code </label>
                        <p class="View_text">yesBank004554</p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                        <label class="form-label d-block mb-1">BIC Code</label>
                        <p class="View_text">YES56464</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="card border-card border-top-0 mt-4 view_container_bg">

            <div class="card-body">
                <h4 class="form_title mt-3 shadow-2-strong">
                    Document Upload
                </h4>
                <div class="row">

                    <div class="col-sm-12">
                        <table id="example1" class="table table-bordered view_table">
                            <thead>
                                <tr>
                                    <th width="7%" class="text-center">Sr. No.</th>
                                    <th>Document Type</th>
                                    <th width="15%" class="text-center">Attach file </th>

                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td class="text-center">1</td>
                                    <td>Document Type</td>
                                    <td class="text-center">
                                        <a href="#" class="pdfIcons">
                                            <i class="fa fa-file-pdf"
                                               aria-hidden="true"></i>
                                        </a>
                                    </td>

                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>



            </div>
        </div>
        <div class="row mb-3 submit_area submit_area_strip mt-5 mx-0">
            <div class="col-sm-8 text-left">
                <button class="btn btn-primary" id="printMe"><i class="fa fa-print mr-2" aria-hidden="true"></i>Print Application</button>
            </div>
            <div class="col-sm-4">
                <button class="btn btn-brand me-2" data-bs-toggle="modal" data-bs-target="#Approve_pop_up">Approval</button>
                <button class="btn btn-cancel me-2" data-bs-toggle="modal" data-bs-target="#Cancel">Cancel</button>
            </div>
        </div>
    </div>

<!-- modal start -->
<div class="modal fade" id="Approve_pop_up" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body ">
                <div class="content">
                    <button type="button" class="btn-close close_btn" data-bs-dismiss="modal" aria-label="Close"></button>
                    <img src="../assets/images/thumbs-up.png" class="icon_reject ">
                    <p class="message-type">Are you sure you want to Approve ?</p>
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="form-label d-block mb-1">Remarks</label>
                            <textarea class="form-control form-control-sm"></textarea>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-brand popUp_btn me-2" onclick="location.href='gpfLoanApprovalView.html'">Approve</button>
                    <button type="button" class="btn btn-danger popUp_btn  me-2" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- modal end -->
<!-- modal start -->
<div class="modal fade" id="Cancel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body ">
                <div class="content">
                    <button type="button" class="btn-close close_btn" data-bs-dismiss="modal" aria-label="Close"></button>
                    <img src="../assets/images/thumbs-up.png" class="icon_reject ">
                    <p class="message-type">Are you sure you want to Cancel ?</p>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-brand popUp_btn me-2" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger popUp_btn  me-2" data-bs-dismiss="modal">Close</button>


                </div>
            </div>
        </div>

    </div>
</div>
<!-- modal end -->
<div id="print_preview">
    <div class=" view_container_bg mt-0">

        <div class="card-body">
            <h4 class="print_title">
                Personal Details
            </h4>
            <table class="table table-bordered w-100">
                <tbody>
                    <tr>
                        <th scope="row">GPF Account Number</th>
                        <td scope="row">8778789</td>
                        <th scope="row">Employee Id</th>
                        <td scope="row">8778</td>

                    </tr>
                    <tr>
                        <th scope="row">Department</th>
                        <td scope="row">Refundable Department</td>
                        <th scope="row">Designation</th>
                        <td scope="row">Sanju sahu</td>


                    </tr>
                    <tr>
                        <th scope="row">Organization</th>
                        <td scope="row">Organization</td>
                        <th scope="row">Mobile Number</th>
                        <td scope="row">7057085889</td>


                    </tr>

                    <tr>
                        <th scope="row">Date Of Birth</th>
                        <td scope="row">16/02/1999</td>
                        <th scope="row">Age</th>
                        <td scope="row">21</td>


                    </tr>
                    <tr>
                        <th scope="row">Address</th>
                        <td scope="row">Bhavdhan Pune</td>
                        <th scope="row">Email Id</th>
                        <td scope="row">Patient@gmail.com</td>
                    </tr>
                    <tr>
                        <th scope="row">Date Of Joining</th>
                        <td scope="row">21/02/2022/td>
                        <th scope="row">Basic Pay</th>
                        <td scope="row">16000</td>


                    </tr>
                    <tr>
                        <td scope="row" colspan="4" class="text-center h4">Loan Details</td>
                    </tr>
                    <tr>
                        <th scope="row">GPF Account Number</th>
                        <td scope="row">1234667890</td>
                        <th scope="row">GPF Account Balance</th>
                        <td scope="row">160062</td>


                    </tr>
                    <tr>
                        <th scope="row">Monthly GPF Contribution</th>
                        <td scope="row">26522</td>
                        <th scope="row">Purpose Of Loan</th>
                        <td scope="row">Purpose</td>
                    </tr>

                    <tr>
                        <th scope="row">Rate Of Interest(%)</th>
                        <td scope="row">76%</td>

                        <th scope="row">Account number</th>
                        <td scope="row">546775755555</td>

                    </tr>
                    <tr>
                        <th scope="row">Amount Of Loan Required</th>
                        <td scope="row" colspan="3">In Words</td>


                    </tr>
                    <tr>
                        <th scope="row">In Figure</th>
                        <td scope="row">55656555</td>
                        <th scope="row">IFSC Number</th>
                        <td scope="row">SBI0877887</td>

                    </tr>
                    <tr>
                        <th scope="row">Basic Pay * 12</th>
                        <td scope="row">26522</td>
                        <th scope="row">75 Total GPF Account Balance</th>
                        <td scope="row">265225155</td>
                    </tr>
                    <tr>
                        <th scope="row">Eligible Amount</th>
                        <td scope="row">26522</td>
                        <th scope="row">Number Of EMI</th>
                        <td scope="row">26522</td>
                    </tr>
                    <tr>
                        <th scope="row">Monthly EMI Amount</th>
                        <td scope="row">26522</td>
                        <th scope="row">EMI Start Date</th>
                        <td scope="row">12/02/2022</td>
                    </tr>
                    <tr>
                        <th scope="row">EMI End Date</th>
                        <td scope="row">26522</td>
                        <th scope="row">Place Of Posting Last 3 Years</th>
                        <td scope="row">2022</td>
                    </tr>
                    <tr>
                        <th scope="row">Date Of Application</th>
                        <td scope="row">12/02/2022</td>
                        <th scope="row">Discription(Details Of Refundable Loan)</th>
                        <td scope="row">2022</td>
                    </tr>
                    <tr>
                        <td scope="row" colspan="4" class="text-center h4">Details Of Any Loan Pending</td>
                    </tr>
                    <tr>
                        <th scope="row">Amount Of Previous Refundable Loan</th>
                        <td scope="row">15452</td>
                        <th scope="row">Date Of Withdrawal Refundable</th>
                        <td scope="row">15/03/2022</td>
                    </tr>
                    <tr>
                        <th scope="row">Date Of Last Repayment Of Previous Loan</th>
                        <td scope="row">15/03/2022</td>
                        <th scope="row">Balance Of Previous Refundable Loan If Any Outstanding Against The Account Holder</th>
                        <td scope="row">656464</td>
                    </tr>
                    <tr>
                        <td scope="row" colspan="4" class="text-center h4">Bank Account Details</td>
                    </tr>
                    <tr>
                        <th scope="row">Bank Name</th>
                        <td scope="row">Yes Bank</td>
                        <th scope="row">Bank Account Number</th>
                        <td scope="row">644625436968</td>
                    </tr>
                    <tr>
                        <th scope="row">Branch Name</th>
                        <td scope="row">Bhavdhan Pune</td>
                        <th scope="row">IFSC Code</th>
                        <td scope="row">yesBank004554</td>
                    </tr>
                    <tr>
                        <th scope="row">BIC Code</th>
                        <td scope="row" colspan="3">YES56464</td>
                    </tr>
                    <tr>
                        <th class="text-center">Sr. No.</th>
                        <th colspan="3">Document Type</th>
                    </tr>
                    <tr>
                        <td class="text-center">1</td>
                        <td colspan="3">Document Type</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
        $('#printMe').click(function () {
            $('#print_preview').addClass('show');
            window.print();

        });
</script>
<script>
        $(document).ready(function () {
              $('#yesDiv').hide();
              $('#nodIV').hide();
              $('input[type="radio"]').click(function () {
                  if ($(this).attr('id') == 'Yes') {
                      $('#yesDiv').show();
                      $('#nodIV').hide();
                  }
   else if ($(this).attr('id') == 'no'){
      $('#nodIV').show();
       $('#yesDiv').hide();
  }
                  else {
                      $('#showMe').hide();
                      $('#nodIV').hide();
                  }
              });
           });
</script>