
@{ ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<div class="container-fluid">
    <div class="row header_section mx-0 px-0 ">
        <div class="col-6 position-relative ps-0">
            <span class="btn btn-light float-start mt-1 me-2 d-block d-md-none" id="menu_toggle">
                <i class="fa-solid fa-bars"></i>
            </span>
            <h3 class="mb-0">Non-Cashless Mediclaim Application </h3>
        </div>
        <p class="mb-0 col-6 top_link_Section">
            <a href="@Url.Action("Index","OPD", new { Area="Mediclaim" })">Dashboard</a><span class="px-1">/</span><a href="@Url.Action("OPDProcessingMediclaimList","Processing", new { Area="Mediclaim" })">Processing List</a><span class="px-1">/</span>
            <span>Non Cashless Mediclaim View</span>
        </p>
    </div>



    <div class="card border-card view_container_bg mt-0">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                    <label class="form-label d-block mb-1">Employee number</label>
                    <p class="View_text">8778789</p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                    <label class="form-label d-block mb-1">PPO number</label>
                    <p class="View_text">8778789</p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                    <label class="form-label d-block mb-1">Medical Section Page Number </label>
                    <p class="View_text">20</p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                    <label class="form-label d-block mb-1">Name of medical card holder </label>
                    <p class="View_text">Sanju sahu</p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                    <label class="form-label d-block mb-1">Medical Card number</label>
                    <p class="View_text">2356998975464</p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 mb-3view_text_border">
                    <label class="form-label d-block mb-1">Gender</label>
                    <p class="View_text">Male</p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                    <label class="form-label d-block mb-1">Organization</label>
                    <p class="View_text">Organization</p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                    <label class="form-label d-block mb-1">Designation</label>
                    <p class="View_text">Designation</p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                    <label class="form-label d-block mb-1">Date Of Birth</label>
                    <p class="View_text">01-03-1995</p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3view_text_border">
                    <label class="form-label d-block mb-1">Age</label>
                    <p class="View_text">29</p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-6 mb-3 view_text_border">
                    <label class="form-label d-block mb-1">Address</label>
                    <p class="View_text">Bhavdhan Pune</p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                    <label class="form-label d-block mb-1">Mobile Number</label>
                    <p class="View_text">7845123698</p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-6 mb-3 view_text_border">
                    <label class="form-label d-block mb-1">Email Id</label>
                    <p class="View_text">Patient@gmail.com</p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                    <label class="form-label d-block mb-1">Card Category</label>

                    <p class="View_text">general</p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-6 mb-3 view_text_border">
                    <label class="form-label d-block mb-1">If dependent relationship with retiree</label>
                    <p class="View_text">Depended</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-card border-top-0 mt-4 view_container_bg">
        <div class="card-body">
            <h4 class="form_title mt-3 ">
                Dependent Information
            </h4>
            <div class="row ">
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                    <label class="form-label d-block mb-1"> Name</label>
                    <p class="View_text">Pratiksha Sen</p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                    <label class="form-label d-block mb-1">Date Of Birth</label>
                    <p class="View_text">01-03-1995</p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3view_text_border">
                    <label class="form-label d-block mb-1">Age</label>
                    <p class="View_text">29</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-card  border-top-0 mt-4 view_container_bg">
        <div class="card-body">
            <h4 class="form_title mt-3 ">
                Bank Details
            </h4>
            <div class="row ">
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                    <label class="form-label d-block mb-1">Bank Name</label>
                    <p class="View_text">Yes Bank</p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                    <label class="form-label d-block mb-1">BIC Code</label>
                    <p class="View_text">YES56464</p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                    <label class="form-label d-block mb-1">Branch Name</label>
                    <p class="View_text">Bhavdhan Pune</p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                    <label class="form-label d-block mb-1">IFSC code </label>
                    <p class="View_text">yesBank004554</p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                    <label class="form-label d-block mb-1">Account Number</label>
                    <p class="View_text">0552314589</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-card  border-top-0 mt-4 view_container_bg">
        <div class="card-body">
            <h4 class="form_title mt-3 ">
                Detail of Hospitalization
            </h4>
            <div class="row ">
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                    <label class="form-label d-block mb-1">Type of claim</label>
                    <p class="View_text">IPD</p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 view_text_border">
                    <label class="form-label d-block mb-1">Hospital visit date</label>
                    <p class="View_text">01-03-1995</p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3view_text_border">
                    <label class="form-label d-block mb-1">Name Of Hospital </label>
                    <p class="View_text">city hospital </p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3view_text_border">
                    <label class="form-label d-block mb-1">
                        medicine<span class="text-danger req_text">&#8377;</span>
                    </label>
                    <p class="View_text">3000 </p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3view_text_border">
                    <label class="form-label d-block mb-1">
                        Consultation Amount<span class="text-danger req_text">&#8377; </span>
                    </label>
                    <p class="View_text">1000 </p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3view_text_border">
                    <label class="form-label d-block mb-1">
                        Investigation Amount<span class="text-danger req_text">&#8377; </span>
                    </label>
                    <p class="View_text">500 </p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3view_text_border">
                    <label class="form-label d-block mb-1">
                        Other expenses<span class="text-danger req_text">&#8377; </span>
                    </label>
                    <p class="View_text">100 </p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3view_text_border">
                    <label class="form-label d-block mb-1">
                        Total Amount<span class="text-danger req_text">&#8377; </span>
                    </label>
                    <p class="View_text">4600 </p>
                </div>
            </div>
        </div>
    </div>

    <div class="card border-card border-top-0 mt-4 view_container_bg">

        <div class="card-body">
            <h4 class="form_title mt-3 shadow-2-strong">
                Claim Document Upload
            </h4>
            <div class="row">

                <div class="col-sm-12">
                    <table id="example1" class="table table-bordered view_table">
                        <thead>
                            <tr>
                                <th width="7%" class="text-center">Sr. No.</th>
                                <th>Document Type</th>
                                <th>Attach file </th>

                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td class="text-center">1</td>
                                <td>Document Type</td>
                                <td>12th marksheet </td>

                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>



        </div>
    </div>
    <div class=" border-card border-top-0 px-0">
        <div class="card-body">
            <h4 class="form_title shadow-2-strong text-start">
                Claim Approval status
            </h4>
            <div class="row">
                <div class="col-sm-4 mb-3 col-md-3 col-lg-2 col-xl-2">
                    <label class="form-label d-block mb-1 text-left">Approve Amount<span class="text-danger req_text">*</span></label>
                    <input type="number" class="form-control form-control-sm" placeholder="Amount*">

                </div>
                <div class="col-sm-6 col-md-6 mb-6 col-lg-6 col-xl-6 ">
                    <label class="form-label d-block mb-1 text-left">In Words<span class="text-danger req_text">*</span></label>

                    <input type="number" class="form-control form-control-sm" placeholder="In Words*">

                </div>
            </div>

            <h4 class="form_title shadow-2-strong text-start">
                Dealing assistant remark
            </h4>
            <div class="row ">
                <div class="col-sm-8 mb-3 pr-0">
                    <label class="form-label d-block mb-1 text-left">Dealing assistant Remarks<span class="text-danger req_text">*</span></label>
                    <textarea class="form-control form-control-sm" placeholder="Dealing assistant Remarks"></textarea>
                </div>
            </div>
    
            <div class="row mb-3 submit_area submit_area_strip mt-1 mx-0 justify-content-end">
                <div class="col-sm-4">
                    <a class="btn btn-success me-2 text-white" role="button" data-bs-toggle="modal" data-bs-target="#approve">Approved</a>
                    <a class="btn btn-danger me-2 text-white" role="button" data-bs-toggle="modal" data-bs-target="#reject">Reject</a>
                </div>

            </div>
        </div>
    </div>


</div>

<div class="modal fade" id="reject" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body ">
                <div class="content p-0">
                    <button type="button" class="btn-close close_btn" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    <img src="../assets/images/rejected.png" class="icon_reject ">
                    <p class="message-type text-blod mb-0 pt-3">
                        Are you sure you want to reject the application
                        ?
                    </p>

                    <div class="col-sm-12 mb-3 px-0">
                        <label class="form-label d-block mb-1">
                            Remark<span class="text-danger req_text">*</span>
                        </label>
                        <textarea class="form-control form-control-sm" placeholder="Remark"></textarea>
                    </div>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-brand popUp_btn me-2"
                            onclick="location.href='../nonmediclaimProcessingList.html'">
                        Yes, Reject
                    </button>
                    <button type="button" class="btn btn-danger popUp_btn me-2"
                            data-bs-dismiss="modal">
                        Close
                    </button>


                </div>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="approve" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body ">
                <div class="content p-0">
                    <button type="button" class="btn-close close_btn" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    <img src="~/assets/images/thumbs-up.png" class="icon_reject" />
                    <p class="message-type text-blod  pt-3">
                        Are you sure you want to approve the application ?
                    </p>
                    <div class="col-sm-12 mb-3 px-0">
                        <label class="form-label d-block mb-1">
                            Remark<span class="text-danger req_text">*</span>
                        </label>
                        <textarea class="form-control form-control-sm" placeholder="Remark"></textarea>
                    </div>

                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-brand popUp_btn me-2"
                            onclick="location.href='../nonmediclaimProcessingList.html'">
                        Yes, Approve
                    </button>
                    <button type="button" class="btn btn-danger popUp_btn me-2"
                            data-bs-dismiss="modal">
                        Close
                    </button>

                </div>
            </div>

        </div>

    </div>
</div>