
@{
    ViewData["Title"] = "CashlessCreditletter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .voucher-disabled {
        background: #cac0c0;
        border: #cac0c0;
    }
</style>
<!-- Content Wrapper. Contains page content -->
<!-- /.content-wrapper -->
<!--NEW UI-->
<input type="hidden" id="hdnDesignation" value="@ViewBag.Designation" />

<div class="container-fluid">
    <div class="row header_section mx-0 px-0">
        <div class="col-6 position-relative ps-0">
            <span class="btn btn-light float-start mt-1 me-2 d-block d-md-none" id="menu_toggle"><i class="fa-solid fa-bars"></i></span>
            <h3 class="mb-0">Credit Letter (Cashless ) List</h3>
        </div>
        <p class="mb-0 col-6 top_link_Section">
            <a href="@Url.Action("Index","Home",new { Area="" })">Dashboard</a><span class="px-1">/</span>

            <span>Credit Letter List</span>
        </p>
    </div>

    <div class="card border-card mt-0">
        <div class="card-body pt-0 ps-0 pr-2">
           
            <div id="example1_wrapper" class="dataTables_wrapper no-footer">
                <div class="dataTables_scroll">
                    <div class="dataTables_scrollBody" style="position: relative; overflow: auto; width: 100%;">
                        <table id="tblProcessingCashlessClaim" class="table table-bordered dataTable no-footer" aria-describedby="example1_info" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>Sr. No.</th>
                                    <th>Date</th>
                                    @*<th>Claim No</th>
                                    <th>Medical Card No.</th>*@
                                    <th>Hospital Name</th>
                                    <th>Card Category</th>
                                    <th>Patient Name</th>
                                    <th>Claim Status</th>
                                    @*<th>Change Status</th>*@
                                    <th>Remark</th>
                                    @*<th>Physical Submit</th>*@
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section CashlessClaims{
    <script type="text/javascript" src="~/js/Mediclaim/Processing/CreditLetter.js"></script>
}

