@using DTL.Model.Models.CMS
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Accessibility";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model FooterLegalSectionModel
<section id="header_section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1>Content Archival (CAP) policy</h1>
                <p><a href="@Url.Action("","home")">Home</a> / <span>Content Archival (CAP) policy</span></p>
            </div>
        </div>
    </div>
</section>


<section id="main_page">
    <div class="container">
        <div class="accesibility_div">
            <div class="row shadow pt-4 px-3">
                <p>
                    @Model?.CAPPolicy
                </p>


            </div>
        </div>
    </div>
</section>