@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Help";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="header_section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1>Help</h1>
                <p><a href="@Url.Action("","home")">Home</a> / <span>Help</span></p>
            </div>
        </div>
    </div>
</section>
<section id="main_page">
    <div class="container">
        <div class="help_div">
            <div class="row">
                <div class="col-md-12 shadow mb-5 pt-4">
                    <table class="table table-bordered table1">
                        <thead>
                            <tr>
                                <th>Screen Reader	</th>
                                <th>Website</th>
                                <th>
                                    Free / Commercial
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Screen Access For All (SAFA)	</td>
                                <td><a href="http://www.nabdelhi.org/NAB_SAFA.htm">http://www.nabdelhi.org/NAB_SAFA.htm</a></td>
                                <td>Free</td>
                            </tr>
                            <tr>
                                <td>Non Visual Desktop Access (NVDA)	</td>
                                <td><a href="http://www.nvda-project.org/">http://www.nvda-project.org/</a></td>
                                <td>Free</td>
                            </tr>
                            <tr>
                                <td>System Access To Go	</td>
                                <td><a href="http://www.satogo.com/">http://www.satogo.com/</a></td>
                                <td>Free</td>
                            </tr>
                            <tr>
                                <td>Thunder	</td>
                                <td><a href="http://www.screenreader.net/index.php?pageid=2">http://www.screenreader.net/index.php?pageid=2</a></td>
                                <td>Free</td>
                            </tr>
                            <tr>
                                <td>WebAnywhere	</td>
                                <td><a href="http://webanywhere.cs.washington.edu/wa.php">http://webanywhere.cs.washington.edu/wa.php</a></td>
                                <td>Free</td>
                            </tr>
                            <tr>
                                <td>Hal</td>
                                <td><a href="	http://www.yourdolphin.co.uk/productdetail.asp?id=5">	http://www.yourdolphin.co.uk/productdetail.asp?id=5</a></td>
                                <td>Commercial</td>
                            </tr>
                            <tr>
                                <td>JAWS</td>
                                <td><a href="http://www.freedomscientific.com/jaws-hq.asp">http://www.freedomscientific.com/jaws-hq.asp</a></td>
                                <td>Commercial</td>
                            </tr>
                            <tr>
                                <td>Supernova</td>
                                <td><a href="http://www.yourdolphin.co.uk/productdetail.asp?id=1">http://www.yourdolphin.co.uk/productdetail.asp?id=1	</a></td>
                                <td>Commercial</td>
                            </tr>
                            <tr>
                                <td>Window-Eyes</td>
                                <td><a href="http://www.gwmicro.com/Window-Eyes/">http://www.gwmicro.com/Window-Eyes/</a></td>
                                <td>Commercial</td>
                            </tr>
                        </tbody>


                    </table>
                </div>
                <div class="col-md-12 shadow mb-5 pt-4">
                    <h3>Accessibility Statement</h3>
                    <p>We are committed to ensure that the information on this Website is accessible to all users irrespective of device in use, technology or ability. It has been built, with an aim, to provide maximum accessibility and usability to its visitors</p>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Document Type </th>
                                <th>Plug-in for Download </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Portable Document Format (PDF) files</td>
                                <td>
                                    <img src="assets/images/pdf.png" alt="pdf file" width="24px"><br>
                                    <a href="https://get.adobe.com/reader/">Adobe Acrobat Reader (External website that opens in a new window)</a><br>
                                    <a href="https://acrobat.adobe.com/us/en/acrobat/features.html">Convert a PDF file online into HTML or text format (External website that opens in a new window)</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Word files	</td>
                                <td>
                                    <img src="assets/images/word.png" alt="word file" width="24px"><br>
                                    <a href="https://www.microsoft.com/en-us/download/">Word Viewer (in any version till 2003) - External website that opens in a new window</a><br>
                                    <a href="https://www.microsoft.com/en-us/download/">Microsoft Office Compatibility Pack for Word (for 2007 version) - External website that opens in a new window</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Excel files	</td>
                                <td>
                                    <img src="assets/images/excel.png" alt="excel file" width="24px"><br>
                                    <a href="https://www.microsoft.com/en-us/download/">Excel Viewer 2003 (in any version till 2003) - External website that opens in a new window</a><br>
                                    <a href="https://www.microsoft.com/en-us/download/">Microsoft Office Compatibility Pack for Excel (for 2007 version) - External website that opens in a new window</a>
                                </td>
                            </tr>
                            <tr>
                                <td>PowerPoint presentations		</td>
                                <td>
                                    <img src="assets/images/powerpoint.png" alt="powerpoint file" width="24px"><br>
                                    <a href="https://www.microsoft.com/en-us/download/">PowerPoint Viewer 2003 (in any version till 2003) - External website that opens in a new window</a><br>
                                    <a href="https://www.microsoft.com/en-us/download/">Microsoft Office Compatibility Pack for PowerPoint (for 2007 version) - External website that opens in a new window</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>



    </div>
</section>