@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Screen Reader Access";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="header_section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1>Screen Reader Access</h1>
                <p><a href="@Url.Action("","home")">Home</a> / <span>Screen Reader Access</span></p>
            </div>
        </div>
    </div>
</section>


<section id="main_page">
    <div class="container">
        <div class="accesibility_div">
            <div class="row">
                <div class="col-md-12">
                    <p>
                        The DVBETBF website complies with World Wide Web Consortium (W3C) Web Content Accessibility
                        Guidelines (WCAG) 2.0 level AA. This will enable people with visual impairments access the
                        website using assistive technologies, such as screen readers. The information of the website
                        is accessible with different screen readers.
                    </p>
                </div>

                <h3>Various Screen Readers to choose from</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Sr. No.</th>
                            <th>Screen Reader</th>
                            <th>Website</th>
                            <th>Free / Commercial</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <span id="SitePH_grdupload_lblSN_0">1</span>
                            </td>
                            <td>
                                <span id="SitePH_grdupload_lblsize_0"> Non Visual Desktop Access (NVDA)</span>
                            </td>
                            <td>
                                <span id="SitePH_grdupload_lblCreatedDate_0">
                                    <a href="http://www.nvda-project.org/"
                                       target="_blank"> http://www.nvda-project.org/ </a>
                                </span>
                            </td>
                            <td>
                                <span id="SitePH_grdupload_lblsize_0"> Free</span>
                            </td>
                        </tr>


                        <tr>
                            <td>
                                <span id="SitePH_grdupload_lblSN_0">2</span>
                            </td>
                            <td>
                                <span id="SitePH_grdupload_lblCategory_0"> System Access To Go</span>
                            </td>
                            <td>
                                <span id="SitePH_grdupload_lblCreatedDate_0">
                                    <a href="http://www.satogo.com"
                                       target="_blank"> http://www.satogo.com </a>
                                </span>
                            </td>
                            <td>
                                <span id="SitePH_grdupload_lblsize_0"> Free</span>
                            </td>

                        </tr>


                        <tr>
                            <td>
                                <span id="SitePH_grdupload_lblSN_0">3</span>
                            </td>
                            <td>
                                <span id="SitePH_grdupload_lblCategory_0"> Thunder</span>
                            </td>
                            <td>
                                <span id="SitePH_grdupload_lblCreatedDate_0">
                                    <a href="http://www.screenreader.net/index.php?pageid=2" target="_blank">
                                        http://www.screenreader.net/index.php?pageid=2
                                    </a>
                                </span>
                            </td>
                            <td>
                                <span id="SitePH_grdupload_lblsize_0"> Free</span>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <span id="SitePH_grdupload_lblSN_0">4</span>
                            </td>
                            <td>
                                <span id="SitePH_grdupload_lblCategory_0"> Web Anywhere</span>
                            </td>
                            <td>
                                <span id="SitePH_grdupload_lblCreatedDate_0">
                                    <a href="http://webanywhere.cs.washington.edu/wa.php" target="_blank">
                                        http://webanywhere.cs.washington.edu/wa.php
                                    </a>
                                </span>
                            </td>
                            <td>
                                <span id="SitePH_grdupload_lblsize_0"> Free</span>
                            </td>

                        </tr>


                        <tr>
                            <td>
                                <span id="SitePH_grdupload_lblSN_0">5</span>
                            </td>
                            <td>
                                <span id="SitePH_grdupload_lblCategory_0"> Screen Access For All (SAFA)</span>
                            </td>
                            <td>
                                <span id="SitePH_grdupload_lblCreatedDate_0">
                                    <a href="http://www.nabdelhi.org/NAB_SAFA.htm"
                                       target="_blank">http://www.nabdelhi.org/NAB_SAFA.htm </a>
                                </span>
                            </td>
                            <td>
                                <span id="SitePH_grdupload_lblsize_0"> Commercial </span>
                            </td>

                        </tr>



                        <tr>
                            <td>
                                <span id="SitePH_grdupload_lblSN_0">6</span>
                            </td>
                            <td>
                                <span id="SitePH_grdupload_lblCategory_0"> Hal</span>
                            </td>
                            <td>
                                <span id="SitePH_grdupload_lblCreatedDate_0">
                                    <a href="	http://www.yourdolphin.co.uk/productdetail.asp?id=5/"
                                       target="_blank"> http://www.yourdolphin.co.uk/productdetail.asp?id=5/ </a>
                                </span>
                            </td>
                            <td>
                                <span id="SitePH_grdupload_lblsize_0"> Commercial </span>
                            </td>

                        </tr>


                        <tr>
                            <td>
                                <span id="SitePH_grdupload_lblSN_0">7</span>
                            </td>
                            <td>
                                <span id="SitePH_grdupload_lblCategory_0"> JAWS</span>
                            </td>
                            <td>
                                <span id="SitePH_grdupload_lblCreatedDate_0">
                                    <a href="http://www.freedomscientific.com/jaws-hq.asp" target="_blank">
                                        http://www.freedomscientific.com/jaws-hq.asp
                                    </a>
                                </span>
                            </td>
                            <td>
                                <span id="SitePH_grdupload_lblsize_0"> Commercial </span>
                            </td>

                        </tr>


                        <tr>
                            <td>
                                <span id="SitePH_grdupload_lblSN_0">8</span>
                            </td>
                            <td>
                                <span id="SitePH_grdupload_lblCategory_0"> Supernova</span>
                            </td>
                            <td>
                                <span id="SitePH_grdupload_lblCreatedDate_0">
                                    <a href="	http://www.yourdolphin.co.uk/productdetail.asp?id=1" target="_blank">
                                        http://www.yourdolphin.co.uk/productdetail.asp?id=1
                                    </a>
                                </span>
                            </td>
                            <td>
                                <span id="SitePH_grdupload_lblsize_0"> Commercial </span>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <span id="SitePH_grdupload_lblSN_0">9</span>
                            </td>
                            <td>
                                <span id="SitePH_grdupload_lblCategory_0"> Window-Eyes</span>
                            </td>
                            <td>
                                <span id="SitePH_grdupload_lblCreatedDate_0">
                                    <a href="	http://www.gwmicro.com/Window-Eyes" target="_blank">
                                        http://www.gwmicro.com/Window-Eyes
                                    </a>
                                </span>
                            </td>
                            <td>
                                <span id="SitePH_grdupload_lblsize_0"> Commercial </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>