
<style type="text/css">
    .error {
        border: solid 1px #ff0000;
    }
</style>

 
    <!-- Main content -->
    <section class="">
        <div class="container-fluid">
            <div class="row header_section mx-0 px-0 border_bottom">
                <div class="col-6 position-relative ps-0">
                    <span class="btn btn-light float-start mt-1 me-2 d-block d-md-none" id="menu_toggle">
                        <i class="fa-solid fa-bars"></i>
                    </span>
                    <h3 class="mb-0">Reset Password</h3>
                </div>
               
            </div>
            <div class="row">
                <div class="col-5">
                    <div class="">
                        <img src="~/assets/images/forget.jpg" class=" w-100" />
                    </div>
                </div>
                <div class="col-6 ">
                    <div class="card mt-5">
                        <div class="card-body login-card-body shadow">

                            <form action="/" method="post">

                                <h5 class="modal-title">Reset Password</h5>
                                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>*@
                                <input type="hidden" id="hdnIsTempPassword" value="@ViewBag.IsTempPassword" />
                                <input type="password" class="form-control mb-2" placeholder="Password" name="txtPassword" id="txtPassword" maxlength="30" required />
                                <br />
                                <input type="password" class="form-control mb-2" placeholder="Confirm Password" name="txtConfirmPassword" id="txtConfirmPassword" maxlength="30" required />
                                <div class="input-group mb-3">
                                    <input type="checkbox" onclick="togglePassword()" style="margin: auto 0;" />&nbsp;&nbsp; Show Password
                                </div>
                                <button type="button" class="btn btn-info" id="btnSave">Reset Password</button>
                                @*<button type="button" class="btn btn-info" data-dismiss="modal" id="btnCancel">Cancel</button>*@

                            </form>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- /.content -->

@section ResetTemPassword{
    <script>
        $(document).ready(function () {
            var email = '';
            var password = '';
            var confirmpassword = '';

            $('#resetPasswordModal').modal({
                backdrop: 'static',
                keyboard: false
            });

            var PopulateProperties = function () {
                email = $('#hdnUserEmail').val();
                password = $('#txtPassword').val();
                confirmpassword = $('#txtConfirmPassword').val();
            }

            var Validate = function () {
                var count = 0;
                if (password == '') {
                    $('#txtPassword').addClass('error');
                    count = count + 1;
                }
                else {
                    $('#txtPassword').removeClass('error');
                    count = count - 1;
                }

                if (confirmpassword == '') {
                    $('#txtConfirmPassword').addClass('error');
                    count = count + 1;
                }
                else {
                    $('#txtConfirmPassword').removeClass('error');
                    count = count - 1;
                }

                if (password != '' && confirmpassword != '') {
                    if (password != confirmpassword) {
                        alert('Password and confirm passowrd dont match');
                        count = count - 1;
                    }
                }
                return count < 0 ? true : false;
            };

            $('#btnSave').click(function () {
                PopulateProperties();
                if (Validate() === true) {
                    var url = '/Identity/Account/UpdateTempPassword';
                    var request = {
                        Password: password,
                        ConfirmPassword: confirmpassword,
                    };
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: JSON.stringify(request),
                        contentType: 'application/json; charset=utf-8',
                        //dataType: 'json',
                        success: function (response, status, xhr) {
                            if (xhr.status == '200') {
                                window.location.href = "/";
                            }
                            else if (xhr.status == '400') {
                                toastrError("Update password failed due to wrong input");
                            }
                            else if (xhr.status == '203') {
                                toastrError("Update password failed");
                            }
                        },
                        error: function (xhr, status, error) {
                            toastrError("Something went wrong!!!")
                        }
                    });
                }
            });

            //var CheckIfTempPassword = function () {
            //    $.ajax({
            //        type: 'GET',
            //        url: '/Identity/Account/IsUserHavingTempPassword',
            //        data: '',
            //        contentType: 'application/json; charset=utf-8',
            //        //dataType: 'json',
            //        success: function (response, status, xhr) {
            //            debugger;
            //            console.log(response);
            //            if (xhr.status == '200') {
            //                if (response) {
            //                    $('#resetPasswordModal').modal('show');
            //                }
            //                else {
            //                    $('#resetPasswordModal').modal('hide');
            //                    $('#resetPasswordModal').css('display', 'none');
            //                }
            //            }
            //        },
            //        error: function (xhr, status, error) {
            //            $('#resetPasswordModal').modal('hide');
            //            $('#resetPasswordModal').css('display', 'none');
            //            toastrError("Something went wrong!!!")
            //        }
            //    });
            //}
             
                (function () {
                    var isTempPassword = $('#hdnIsTempPassword').val();
                    if (isTempPassword) {
                        //CheckIfTempPassword();
                    };
                })();
        })

        function togglePassword() {
            var x = document.getElementById("txtPassword");
            var y = document.getElementById("txtConfirmPassword");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }

            if (y.type === "password") {
                y.type = "text";
            } else {
                y.type = "password";
            }
        }
    </script>
}