@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "View Employee List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row header_section mx-0 px-0">
        <div class="col-6 position-relative ps-0">
            <span class="btn btn-light float-start mt-1 me-2 d-block d-md-none" id="menu_toggle">
                <i class="fa-solid fa-bars"></i>
            </span>
            <h3 class="mb-0"> Employee List</h3>
        </div>
        <p class="mb-0 col-6 top_link_Section">
            <a class="" href="/">Dashboard </a><span class="px-1">/</span><span>Employee List</span>

        </p>
    </div>

    <div class="card border-card mt-0">
        <div class="card-body pt-0 ps-0 pr-2">
            <div class="my-4 border_bottom pb-4 row">


                <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 ">
                    <label class="form-label d-block mb-1">Organization</label>
                    <select name="orgCode" id="State" class="form-select">
                        <option value="all" selected>All</option>
                        @foreach (var kvp in DTL.Model.Models.GPF.GPFEmployeeInfoModel.OrganisationNameByCode)
                        {
                            <option value="@kvp.Key">@kvp.Value</option>
                        }
                    </select>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 ">
                    <label class="form-label d-block mb-1">Retirment Status</label>
                    @*<input name="retirementStatus" type="text" class="form-control form-control-sm" placeholder="Retirment Status" value="Ongoing" />*@
                    <select name="retirementStatus" id="State" class="form-select">
                        <option value="all" selected>All</option>
                        <option value="Ongoing">Ongoing</option>
                        <option value="Ready for retirement">Ready for retirement</option>
                        <option value="Retiree">Retiree</option>
                    </select>
                </div>
                <!-- <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2">
                    <label class="form-label d-block mb-1">Page No.<span
                            class="text-danger req_text">*</span></label>
                    <input type="Number" class="form-control form-control-sm"
                        placeholder="Page No." />
                </div> -->
                <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3  position-relative">
                    <button type="button" class="btn btn-success  position-absolute bottom-0" onclick="loadData()"><i class="fa fa-search"></i></button>
                    <button type="button" class="btn btn-danger position-absolute bottom-0 clear_btn" onclick="reset()"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="table-responsive">
                <table id="example1" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Sr. No.</th>
                            <th>Organization</th>

                            <th>Employee ID</th>
                            <th>External Code</th>
                            <th>Employee Name</th>
                            <th>Email</th>
                            <th>Contact</th>
                            <th>Date of Joining</th>
                            <th>Date of Retirement</th>
                            <th>Retirment Status</th>
                            <th>Action</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        @*
                        <tr>
                        <td>1</td>
                        <td>Organization</td>

                        <td>123456</td>
                        <td>Anis Mulani</td>
                        <td>anismulani1999@gmail.com</td>
                        <td>7057085889</td>
                        <td>20/02/2010</td>
                        <td>20/02/2022</td>
                        <td class="d-flex border-bottom-0 sorting_1">
                        Retirment Status
                        @*<button class="btn btn-success">Ready to Retirement</button>
                        <button class="btn btn-warning mx-2">On Going</button>
                        <button class="btn btn-danger "> Retiree</button>  @
                        </td>
                        <td>

                        <a href="@Url.Action("viewEmployeeProfile","Employee",new { Area="GPF" })" class="btn btn-primary btn-sm mr-2 btn_small">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        </a>


                        </td>
                        <th></th>

                        </tr>
                        *@

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div><!-- col -->

<script>
    var srData = 1;
    const btn = d => `
        <a href="@Url.Action("viewEmployeeProfile","Employee",new { Area="GPF" })?emp=${encodeURIComponent(d.externalCode)}" class="btn btn-primary btn-sm mr-2 btn_small">
            <i class="fa fa-eye" aria-hidden="true"></i>
        </a>
    `;

    const reset = () => {
        $('[name="orgCode"]').val('all').trigger('change');
        $('[name="retirementStatus"]').val('all').trigger('change');
        loadData()
    }

    const loadData = () => {
        //var valid = true;
        //if (!$('[name="orgCode"]').val()) { if (!$('[name="orgCode"]').hasClass('is-invalid')) $('[name="orgCode"]').addClass('is-invalid'); valid = false; } else $('[name="orgCode"]').removeClass('is-invalid');
        //if (!$('[name="retirementStatus"]').val()) { if (!$('[name="retirementStatus"]').hasClass('is-invalid')) $('[name="retirementStatus"]').addClass('is-invalid'); valid = false; } else $('[name="retirementStatus"]').removeClass('is-invalid');

        //if (!valid) return;
        srData = 1
        $("#example1").DataTable().destroy();
        $("#example1").DataTable({
            ordering: true,
            dom: 'lfrtip',
            scrollX: true,
            ajax: {
                url: `@Url.Action("GetEmployeeData", "Data")`,
                data: d => {
                    d["orgCode"] = $('[name="orgCode"]').val();
                    d["retirementStatus"] = $('[name="retirementStatus"]').val();
                    return d;
                },
                dataSrc: ''
            },
            columns: [
                { render: _ => srData++ },
                { data: 'organisation' },
                { data: 'employeeCode' },
                { data: 'externalCode' },
                { data: 'employeeName' },
                { data: 'email' },
                { data: 'contact' },
                { data: 'doj', render: d => moment(d).format('DD-MMM-YYYY') },
                { data: 'dor', render: d => d ? moment(d).format('DD-MMM-YYYY') : '' },
                { data: 'retirementStatus' },
                { render: (a, b, c) => btn(c) },
                { render: (a, b, c) => btoa(JSON.stringify(c)), className: 'rowData d-none' },
            ]
        }).on('dt.draw', function () {
            window.dispatchEvent(new Event('resize'));
        });
    }

    $(document).ready(function () {
        loadData();
    });


</script>  