@page
@using DTL.WebApp.Areas.Identity.Pages.Account.Manage

@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
    Layout = "_LayoutWithoutSidebar";
}


<partial name="_StatusMessage" for="StatusMessage" />




<div class="forget_password_section">
    <div class="container-xxl"
         style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <form id="change-password-form" method="post">
            <div class="row ">
                <div class="col-md-7 col-sm-5">
                    <div class="imageForget_image">
                        <img src="~/assets/images/forget.jpg"
                             class="forgetIMage" />
                    </div>
                </div>
                <div class=" col-md-5 col-sm-7  reset_password">
                    <div class="login_div forget_password">
                        <div class="text-center mb-4">
                            <h5 class="m-0">Please Reset Your Password</h5>

                        </div>
                        <div class="mb-3 position-relative">
                            <label class="form-label d-block mb-1">
                                Enter Your Password<span class="text-danger req_text">*</span>
                            </label>
                            <input id="" asp-for="Input.OldPassword" type="password" class="form-control form-control-sm" maxlength="20"
                                   placeholder="Please Enter Your Password" />
                            <i class="fa fa-eye password_eye" aria-hidden="true"></i>
                            <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                        </div>
                        <div class="mb-3 position-relative">
                            <label class="form-label d-block mb-1">
                                Enter Your New Password<span class="text-danger req_text">*</span>
                            </label>
                            <input asp-for="Input.NewPassword" type="password" class="form-control form-control-sm" maxlength="20"
                                   placeholder="  Please Enter New Password" />
                            <i class="fa fa-eye password_eye" aria-hidden="true"></i>
                            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                        </div>
                        <div class="mb-3 position-relative">
                            <label class="form-label d-block mb-1">
                                Confirm Password<span class="text-danger req_text">*</span>
                            </label>
                            <input asp-for="Input.ConfirmPassword" id="" type="password" class="form-control form-control-sm" maxlength="20"
                                   placeholder="  Please Enter Your Password" />
                            <i class="fa fa-eye password_eye" aria-hidden="true"></i>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="submit_area text-center">
                            <button type="submit" class="btn btn-primary">Update password</button>
                            @*<a class="btn btn-sm btn-brand" href="@Url.Action("Login","Account", new { Area = "Identity"})">Change password</a>*@
                            <a class="btn btn-sm btn-danger" href="/home")>Cancel</a>

                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".password_eye").click(function(e){
          var input =  this.previousElementSibling;
            const type = input.getAttribute("type") === "password" ? "text" : "password";
            input.setAttribute("type", type);

            // toggle the icon
            $(this).toggleClass('fa-eye-slash fa-eye')
         
        })
    })


</script>