@page
@using DTL.WebApp.Areas.Identity.Pages.Account.Manage

@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "../../../../Views/auth/forgotPassword.cshtml";
    ViewData["ActivePage"] = ManageNavPages.ForgotPassword;
}


<div class="login_div forget_password">
    <form id="forget-password-form" method="post" action="@Url.Action("SendPassword","ForgotPassword", new { Area = "UserManagement"})">
        <div class="text-center">
            <h5 class="m-0">Forget password</h5>
            <p class="forget_title">Reset Password will be sent to register mail</p>
        </div>

        <div class="mb-3">
            <label class="form-label d-block mb-1">
                Please Enter Username
            </label>
            <input name="Username" class="form-control" placeholder="Enter Username" type="text" />
            <span class="text-danger"></span>

        </div>

        <div class="submit_area text-center">
            <input type="submit" value="submit2" />
            <input type="submit" value="Send" class="btn btn-sm btn-brand" />
            @*<a class="btn btn-sm btn-brand">Send</a>*@

            <a class="btn btn-sm btn-brand" href='@Url.Action("Login","Account", new { Area = "Identity"})'>Back</a>
            @*<input id="btnSignIn" type="submit" value="Back" class="btn btn-sm btn-brand" onclick="location.href='../login.html'" /></td>*@
        </div>
    </form>
</div>

<!--<div class="card" style="width: 400px">
    <div class="card-body login-card-body">
        <h4 class="text-center">Forgot Password</h4>
        <div class="text-danger"></div>

        <form id="account" method="post">

            <div class="input-group mb-3">

                <input class="form-control" placeholder="Enter Username" value="" id="txtEmailAddress" type="email" />
                <span class="text-danger"></span>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-6 offset-3">-->
@*<a class="btn btn-primary btn-block" onclick="GenereateOTP()" asp-page="./OTP">Generate OTP</a>*@
<!--<a class="btn btn-primary btn-block" onclick="GenereateOTP()">Generate OTP</a>
</div>
<!-- /.col -->
<!--@*<div class="col-8">
        <div>
            <label class="p-0" asp-for="Input.RememberMe">
                <input asp-for="Input.RememberMe" />
                @Html.DisplayNameFor(m => m.Input.RememberMe)
            </label>
        </div>
    </div>*@-->
<!-- /.col -->
<!--</div>
    </form>


</div>-->
<!-- /.login-card-body -->
<!--</div>-->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/UserManagement/forgot-password.js"></script>
}


    <script>

        function sendOTP() {
            alert("OTP has been sent to your registered mobile number");
        }

    </script>