
@using DTL.Model.Models.Mediclaim;
@model List<MedicalPageDetailModel>;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row header_section mx-0 px-0">
        <div class="col-6 position-relative ps-0">
            <span class="btn btn-light float-start mt-1 me-2 d-block d-md-none" id="menu_toggle">
                <i class="fa-solid fa-bars"></i>
            </span>
            <h3 class="mb-0">Medical Page Details </h3>
        </div>
        <p class="mb-0 col-6 top_link_Section">
            <a href="/">Dashboard</a><span class="px-1">/</span><span>Medical Page Details List</span>   </p>
    </div>
    <div class="card border-card mt-0">
        <div class="card-body pt-0 ps-0 pr-2">
            <div class="my-4 border_bottom pb-4">
                    <a href="@Url.Action("AddNewMedicalPageDetail","MedicalPageDetail" , new { Area="Mediclaim" })" class="btn btn-primary btn-sm mr-2">
                        Add New Medical Page
                    </a>
            </div>
            <table id="report" class="table table-bordered ">
                <thead>
                    <tr>
                        <th width="7%" class="text-center">Sr. No.</th>
                        <th>Page No</th>
                        <th>Employee Number</th>
                        <th>PPO No</th>
                        <th>Name </th>
                        <th>Organization</th>
                        <th> Category</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td class="text-center">1.</td>
                        <td>Page No</td>
                        <td>Employee Number</td>
                        <td>PPO No</td>
                        <td>Name </td>
                        <td>Organization</td>
                        <td> Category</td>
                        <td class="d-flex border-bottom-0">
                            <a href="@Url.Action("MedicalPageDetailView","MedicalPageDetail",new {  Area="Mediclaim"})" class="btn btn-primary btn-sm mr-2 btn_small"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a href="#" class="btn btn-info btn-sm mr-2 btn_small"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                            <a href="#" class="btn btn-danger btn-sm mr-2 btn_small"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            <!-- Modal -->
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div><!-- col -->
<script>
        (function ($) {
            $('#report').DataTable({
                dom: 'lBfrtip',
                buttons: [
                    'excel',
                    'pdfHtml5'
                ],
                "ordering": false,
                "sScrollX": "100%",
                "sScrollXInner": "100%",
                "bAutoWidth": false,
                "bJQueryUI": true,
                "bRetrieve": true,
                "bAutoWidth": true
            });

        })(jQuery);
</script>
