@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Hospital Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">

    <div class="row header_section mx-0 px-0 border_bottom">
        <div class="col-5 position-relative ps-0">
            <span class="btn btn-light float-start mt-1 me-2 d-block d-md-none" id="menu_toggle"><i class="fa-solid fa-bars"></i></span>
            <h3 class="mb-0">Hospital Dashboard</h3>
        </div>
        <p class="mb-0 col-7 top_link_Section"><span class="">Dashboard </span></p>
    </div>
    <div class="container-fluid pd-x-0 pd-lg-x-10 pd-xl-x-0">
        <div class="row row-xs pt-3">
            <div class="col-sm-6 col-lg-3 mt-2">
                <div class="card dashboard background-yellow">
                    <a href="@Url.Action("Index","Cashless",new { Area="Mediclaim"})">
                        <div class="card-body">
                            <div class="d-flex d-lg-block d-xl-flex align-items-end">
                                <h5 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1 box_title">Mediclaim Raise (IPD)</h5>
                                <i class="fa-solid fa-file"></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div><!-- col -->
            <!--<div class="col-sm-6 col-lg-3 mt-2">
                <div class="card dashboard background-green">
                    <a href="#">
                        <div class="card-body">
                            <div class="d-flex d-lg-block d-xl-flex align-items-end">
                                <h5 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1 box_title">View Claim</h5>
                                <i class="fa-solid fa-plus"></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div>--><!-- col -->
            <!--<div class="col-sm-6 col-lg-3 mt-2">
                <div class="card dashboard background-lightpink">
                    <a href="@Url.Action("EmpanelledHospitalList","EmpanelledHospitals", new { Area="Mediclaim" })">
                        <div class="card-body">
                            <div class="d-flex d-lg-block d-xl-flex align-items-end">
                                <h5 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1 box_title">Empanelled Hospital List</h5>
                                <i class="fa-brands fa-resolving"></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div>--><!-- col -->

            <div class="col-sm-6 col-lg-3 mt-2">
                <div class="card dashboard background-lightpink">
                    <a href="@Url.Action("IndexCredit","Cashless", new { Area="Mediclaim" })">
                        <div class="card-body">
                            <div class="d-flex d-lg-block d-xl-flex align-items-end">
                                <h5 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1 box_title">Creditletter</h5>
                                <i class="fa-brands fa-resolving"></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <!--<div class="col-sm-6 col-lg-3 mt-2">
                <div class="card dashboard background-skyBlue">
                    <a href="@Url.Action("Index","CghsRateCard", new { Area="Mediclaim" })">
                        <div class="card-body">
                            <div class="d-flex d-lg-block d-xl-flex align-items-end">
                                <h5 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1 box_title">CGHS Rate card</h5>
                                <i class="fa-brands fa-id-card"></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div>--><!-- col -->
        </div>
    </div>



</div>
